<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="GfwListUrl" value="https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt"/>
    <add key="GfwListUrlBak" value="https://raw.githubusercontent.com/breakwa11/breakwa11.github.io/master/ssr/gfwlist.txt"/>
    <add key="GfwListPacUrl" value="https://raw.githubusercontent.com/petronny/gfwlist2pac/master/gfwlist.pac"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>

